.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.inicio{
  height: 100vh;
  padding: 5px;
}
.enlaces{
  position: absolute;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  overflow-x: hidden;
}

canvas {
  position: fixed;
  overflow: hidden;
  opacity: 50%;
}

 #desktop {
   display: block;
 }

 #movil {
   display: none;
 }

 .carousel-item{
  max-height: 300px;
 }

 .carousel-item>img{
  height: 300px;
  object-fit: contain;
  max-height: 100%;
 }

 @media (max-width: 767px) {
   #desktop {
     display: none;
   }

   #movil {
     display: block;
   }

   .inicio{
    padding: 5px;
   }
 }
/* BTN */
@keyframes color-change-slow {
  0% {
    background-color: #007bff;
  }

  50% {
    background-color: #2bff00;
  }

  100% {
    background-color: #007bff;
  }
}

@keyframes color-change-fast {
  0% {
    background-color: #007bff;
  }

  50% {
    background-color: #ff8c00;
  }

  100% {
    background-color: #007bff;
  }
}

.btn-animation-slow {
  animation: color-change-slow 10s infinite;
}

.btn-animation-fast {
  animation: color-change-fast 5s infinite;
}

.custom-btn-blue {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  transition: transform 0.5s ease;
}

.custom-btn-light-blue {
  background-color: #17a2b8;
  color: #fff;
  font-weight: bold;
  border: none;
  transition: transform 0.5s ease;
}

.custom-btn-blue:hover {
  transform: scale(1.05);
}

.custom-btn-light-blue:hover {
  transform: scale(1.05);
}


.floating-button {
  position: fixed;
  z-index: 999;
  animation: floating 1.5s ease-in-out infinite;

  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #64a5eb;
  border: none;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #0069d9;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}